<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translation Result</title>
    <!-- Include Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<style>
    body {
        background-color: #ffffff; /* White background */
    }

    h1 {
        color: #021b9a; /* Blue color */
    }

    .container {
        margin-top: 50px;
    }

    .card {
        margin-top: 20px;
    }
	 .btn {
        background-color: #021b9a !important;
    }
	
    .btn-text {
        color: #ffffff !important; 
    }
	
	.card {
        width: 100%;
		padding: 10px;
    }

	
</style>

</head>
<body>
    <div class="container">
        <h1>Translation Result</h1>
        <div class="card">
            <div class="card-content">
                <pre>{{ result|safe }}</pre>
            </div>
        </div>
        <a class="waves-effect waves-light btn" href="/">Back to Home</a>
    </div>
    <!-- Include Materialize JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
